<h1>Add a New Entry for <%= @place.name %></h1>

<%= form_with model: @entry, url: place_entries_path(@place) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  
  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :occured_on %>
  <%= form.date_select :occured_on %>

  <%= form.submit 'Add Entry' %>
  
<% end %>

<%= link_to 'Back to Place', @place %>