<h1>Add a New Entry for <%= @place.name %></h1>

<%= form_with(model: [@place, @entry], local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_area :description %>

<%= form.label :occurred_on %>
<%= form.date_field :occurred_on %>

  <%= form.submit 'Create Entry' %>
<% end %>