<h1>Add a New Place</h1>


<%= form_with model: @place do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit 'Create Place' %>

<% end %>

<%= link_to 'Back to Places', places_path %>