<h1><%= @place.name %></h1>

<h2>Entries:</h2>

<ul>
  <% @entries.each do |entry| %>
    <li><%= entry.title %>: <%= entry.description %></li>
  <% end %>
</ul>

<%= link_to 'Add New Entry', new_place_entry_path(@place) %>

<%= link_to 'Back to Places', places_path %>